*.egg-info/
*.pyc
.pytest_cache/
.coverage
coverage.xml
local/
build/
dist/
.tox/

venv/
.venv/
env/
.env/
py35/
py36/
py37/
py38/

*.iml
.idea/

.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

.DS_Store

cdk.out/
cdk.context.json
